@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');
.ContainerSeeRoundsTwo{
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/Background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Btn-List-Two{
    background-color: purple;
    font-size: 16px;
    width: 300px;
    height:150px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;
    font-family: Poppins;
    border-radius: 0.7rem;
    text-decoration: none;
}
.Btn-List-Two:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.Texth1{
    color: rgba(0, 0, 0, 0.524);
    font-family: poppins;
    letter-spacing:10px;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.ContainerRoundsTwo{
    width: 90%;
    min-height: 80%;
    border-top: 3px solid rgba(255, 255, 0, 0.468);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 1rem;
}
.ContainerRoundsTwo > ul {
    border: 3px solid white;
    width: 500px;
    height:200px;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
}


.CategoryChampion{
    width: 58%;
    height: 5rem;
    margin-left: 7rem;
    margin-top: 1rem;
    display: flex;
    
}
.CategoryChampion > div {
    width: 33.33%;
    margin-left: 10px;
    padding-left:1rem;
    height:100%;
    border-bottom: 1px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    font-family: poppins;
    color: white;
}
.StyleList{
   font-family: poppins;
   font-size: 1.5rem;
   color: rgb(255, 255, 255);
}
.StyleList > span {
    font-size: 3.5rem;
    margin-left: 1rem;
}
.none {
    display: none;
}



